
@font-face {
   src: url(../fonts/SybariteLarge.ttf);
   font-family: Sybarite;
}

@font-face {
   src: url(../fonts/Sybarite\ 400.otf);
   font-family: Sybarite;
}

@font-face {
   src: url(../fonts/Avenir-Roman.otf);
   font-family: Avenir;
}

* {
   margin: 0;
   padding: 0;

}


.bck {
   background: linear-gradient(180deg, #9BE4F3 0%, #E3F4FD 57.29%), #FFFFFF;
   background-size: cover;
   width: auto;
}

li {
   list-style: none;
}

.gridfoot a {
   text-decoration: none;
   color: #4A757F;
}

.gridfoot {
   color: #4A757F;
}

.grid5 a {
   text-decoration: none;
   color: #FFFFFF;
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 30px 10%;
   background-color: #4A757F;
   ;
   width: 80%;
   height: 10px;
   color: white;
}

.logo {
   width: 149px;
   height: 69px;
   left: 100px;
   top: 6px;
}

.nav__links a, .cta, .overlay__content a {
   font-family: Avenir;
   font-weight: bold;
   color: #4A757F;
   text-decoration: underline;
}

.overlay__content .cta {
   background-color: #4A757F;
   ;
   color: white;
}

.nav__links {
   list-style: none;
   display: flex;
}

.nav__links li {
   padding: 0px 20px;
}

.nav__links li a {
   transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
   color: black;
}

.cta {
   padding: 9px 25px;
   /* margin-right: 50px; */
   border: none;
   cursor: pointer;
   transition: background-color 0.3s ease 0s;
   color: white;
   box-shadow: 2px 2px grey;
}

.ham {
   width: 50px;
   height: auto;
}

/* Mobile Nav */

.menu {
   display: none;
}

.overlay {
   height: 50%;
   width: 0;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   background-color: white;
   ;
   overflow-x: hidden;
   transition: 0.5s ease 0s;
}

.overlay--active {
   width: 100%;
}

.overlay__content {
   display: flex;
   width: 100%;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.overlay a {
   padding: 15px;
   font-size: 20px;
   display: block;
   transition: color 0.3s ease 0s;
}

.overlay a:hover, .overlay a:focus {
   color: #4A757F;
}

.overlay .close {
   position: absolute;
   top: 20px;
   right: 45px;
   font-size: 60px;
   color: black;
}

.iconfoot {
   width: 49px;
   height: 49px;
}

.grid6 {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 10em 20em 10em 20em 10em 20em 10em 15em 15em 10em 15em 10em 13em 10em 15em 5em 15em 10em 10em 10em 10em 1fr 1fr 1fr;
   grid-template-areas: ". title ."". photo1 ." ". photo2 ." ". photo3 ." ". photo5 ." ". photo4 ." ". photo6 ." ". photo7 ." ". photo9 ." ". photo8 ." ". photo10 ." ". photo11 ." ". photo13 ." ". photo12 ." ". photo14 ." ". photo15 ." ". photo17 ." ". photo16 ." ". photo18 ." ". photo19 ." ". photo21 ." ". photo20 ." ". photo22 ." ". photo23 ." ". photo24 .";
   grid-gap: 10px;
   justify-content: center;
   text-align: center;
}

.gridfoot {
   padding-top: 100px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: 100px 90px 1fr 150px 250px 1fr;
   grid-template-areas: ". footspec footspec footspec ." ". . foot2 . ."". . foot6 . ."". . foot3 . ." ". foot4 foot4 foot4 ." ". foot5 foot5 foot5 .";
   background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 25.63%), #E3F4FD;
   padding-bottom: 50px;
}

.grid7 {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 400px 300px 450px 300px 1fr 1fr 1fr 350px 200px 10px;
   grid-template-areas: "title title title"". subtitle ." ". photo1 ." ". photo2 ." ". photo3 ." ". photo4 ." ". photo5 ." ". photo6 ." ". endtitle ." ". . .";
   grid-gap: 10px;
   justify-content: center;
   text-align: center;
}

.endtitle {
   justify-self: center;
   grid-area: endtitle;
}

.grid2 {
   display: grid;
   grid-template-columns: 20px 20em 20px;
   grid-template-rows: 1fr 1fr;
   grid-template-areas: "judul2 judul2 judul2"". foto2 ." ". isi2 ." ". isi22 ." ". isi23 ." ". isi24 ." ". isi25 ."". . .";
   grid-gap: 15px;
   justify-content: center;
   text-align: center;
}

.grid4 {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-template-areas: "judul2 judul2 judul2"". foto2 ." ". isi2 ." ". isi22 ." ". isi23 ." ". isi24 ." ". isi25 ."". . .";
   grid-gap: 15px;
   justify-content: center;
   text-align: center;
}


.isi2 {
   justify-self: center;
   grid-area: isi2;
   font-family:  Avenir book;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 21px;
   /* or 133% */
   text-align: justify;
   color: black;
}

.isi22 {
   justify-self: center;
   grid-area: isi22;
   font-family: avenir book;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 21px;
   /* or 133% */
   text-align: justify;
   color: black;
}

.isi23 {
   justify-self: center;
   grid-area: isi23;
   font-family: avenir book;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 21px;
   /* or 133% */
   text-align: justify;
   color: black;
}

.isi24 {
   justify-self: center;
   grid-area: isi24;
   font-family: Avenir book;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 21px;
   /* or 133% */
   text-align: justify;
   color: black;
}

.isi25 {
   justify-self: center;
   grid-area: isi25;
   font-family: avenir book;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 21px;
   /* or 133% */
   text-align: justify;
   color: black;
}

.judul2 {
   justify-self: center;
   grid-area: judul2;
   font-family: Sybarite;
   font-style: normal;
   font-weight: bold;
   font-size: 43px;
   line-height: 52px;
   margin-top: 50px;
   color: black;
}

.foto2 {
   justify-self: center;
   grid-area: foto2;
   width: 390px;
   height: 243px;
}

.grid5 {
   display: grid;
   grid-template-columns: 10px 1fr 1fr 10px;
   grid-template-rows: 300px 300px 300px 100px 100px 250px 250px 100px 1fr;
   grid-template-areas: ". title title .""subtitle1 subtitle1 subtitle2 subtitle2" ". photo1 ." ". isi51 ." ". celebrate ." ". photo2 ." ". isi52 ." ". wild ." ". donate .";
   grid-gap: 10px;
   justify-content: center;
   text-align: center;
}

.subtitle1 {
   justify-self: center;
   grid-area: subtitle1;
}

.cill {
   justify-self: center;
   grid-area: cill;
}

.cill2 {
   justify-self: center;
   grid-area: cill2;
}

.cill3 {
   justify-self: center;
   grid-area: cill3;
}

.subtitle2 {
   justify-self: center;
   grid-area: subtitle2;
}

.subb1 {
   width: 196px;
   height: 141px;
}

.subtitle3 {
   justify-self: center;
   grid-area: subtitle3;
}

h3.desc {
   font-family: Avenir book;
   font-style: normal;
   font-weight: normal;
   font-size: 15px;
   line-height: 20px;
   line-height: 21px;
   /* or 133% */
   text-align: center;
   color: black;
}

.dphoto5 {
   border-radius: 25px;
   width: 551px;
   height: auto;
}

.celebrate {
   border-radius: 25px;
   border: 1px solid #5EAEBF;
   background-color: #5EAEBF;
   box-sizing: border-box;
   border-radius: 50px;
   width: 197px;
   height: 50px;
   font-family: Avenir;
   font-style: normal;
   text-align: center;
   cursor: pointer;
   padding: 1px 1px;
   font-weight: 900;
   font-size: 16.018px;
   line-height: 22px;
   color: black;
}

.wild {
   font-family: Avenir black;
   font-style: normal;
   background-color: white;
   border-radius: 25;
   text-align: center;
   cursor: pointer;
   padding: 1px 1px;
   font-weight: normal;
   font-size: 16px;
   line-height: 50px;
   color: black;
   grid-area: wild;
   width: 215px;
   height: 41px;
   justify-self: center;
}

.isi51 {
   font-family: Avenir book;
   font-style: italic;
   font-weight: bold;
   font-size: 16px;
   line-height: 21px;
   /* or 133% */
   text-align: center;
   color: black;
}

.isi52 {
   font-family: Avenir book;
   font-style: italic;
   font-weight: bold;
   font-size: 16px;
   line-height: 21px;
   /* or 133% */
   text-align: center;
   color: black;
   justify-self: center;
   grid-area: isi52;
}

.isi53 {
   font-family: Avenir book;
   font-style: italic;
   font-weight: bold;
   font-size: 16px;
   line-height: 21px;
   /* or 133% */
   text-align: center;
   color: black;
   justify-self: center;
   grid-area: isi53;
}

h1.donnow {
   font-family: Avenir;
   font-style: normal;
   font-weight: 900;
   font-size: 30px;
   line-height: 41px;
   text-align: center;
   text-transform: uppercase;
   color: #000000;
}

img {
   width: 551px;
   height: 310px;
   /* margin-top: 5%; */
}

.subtitle {
   justify-self: center;
   grid-area: subtitle;
}

.footspec {
   justify-self: center;
   grid-area: footspec;
}

.foot2 {
   justify-self: center;
   grid-area: foot2;
}

.foot3 {
   justify-self: center;
   grid-area: foot3;
}

.foot4 {
   justify-self: center;
   grid-area: foot4;
}

.foot6 {
   justify-self: center;
   grid-area: foot6;
}

.foot5 {
   justify-self: center;
   width: auto;
   grid-area: foot5;
   margin-top: -15%;
}

.grid6 img {
   width: 305px;
   height: 166px;
}

.photo1 {
   align-self: auto;
   grid-area: photo1;
   align-self: center;
   justify-self: center;
}

.photo2 {
   align-self: center;
   grid-area: photo2;
}

.photo3 {
   align-self: center;
   grid-area: photo3;
}

.photo4 {
   align-self: center;
   grid-area: photo4;
}

.photo5 {
   align-self: center;
   grid-area: photo5;
}

.photo6 {
   align-self: center;
   grid-area: photo6;
}

.photo7 {
   align-self: center;
   grid-area: photo7;
}

.photo8 {
   align-self: center;
   grid-area: photo8;
}

.photo9 {
   align-self: center;
   grid-area: photo9;
}

.photo10 {
   align-self: center;
   grid-area: photo10;
}

.photo11 {
   align-self: center;
   grid-area: photo11;
}

.photo12 {
   align-self: center;
   grid-area: photo12;
}

.photo13 {
   align-self: center;
   grid-area: photo13;
}

.photo14 {
   align-self: center;
   grid-area: photo14;
}

.photo15 {
   align-self: center;
   grid-area: photo15;
}

.photo16 {
   align-self: center;
   grid-area: photo16;
}

.photo17 {
   align-self: center;
   grid-area: photo17;
}

.photo18 {
   align-self: center;
   grid-area: photo18;
}

.photo19 {
   align-self: center;
   grid-area: photo19;
}

.photo20 {
   align-self: center;
   grid-area: photo20;
}

.photo21 {
   align-self: center;
   grid-area: photo21;
}

.photo22 {
   align-self: center;
   grid-area: photo22;
}

.photo23 {
   align-self: center;
   grid-area: photo23;
}

.photo24 {
   align-self: center;
   grid-area: photo24;
   padding-bottom: 10em;
}

p.judul {
   font-family: Mullingar;
   font-style: normal;
   font-weight: bold;
   font-size: 21.328px;
   line-height: 20px;
   text-align: center;
   color: black;
   text-align: center;
   margin-top: 5%;
   margin-bottom: 5%;
}

p.judulfoot {
   width: 200px;
   margin-top: 10%;
   font-family: Avenir;
   font-style: normal;
   font-weight: normal;
   font-size: 18.02px;
   line-height: 24.62px;
   color: #4A757F;
   text-align: center;
   grid-area: judulfoot;
   margin-bottom: 10px;
}

p.isifoot {
   color: #4A757F;
   font-family: Avenir;
   width: auto;
   font-style: italic;
   font-size: 14.24px;
   line-height: 19.45px;
   /* text-decoration-line: underline; */
   color: #4A757F;
   text-align: center;
}

p.textfoot {
   font-family: Mullingar;
   font-style: italic;
   font-weight: 500;
   font-size: 8.89px;
   line-height: 20px;
   text-align: center;
   color: #4A757F;
   ;
   margin-top: 25%;
}

.title {
   font-family: Sybarite;
   font-style: normal;
   font-weight: bold;
   font-size: 43px;
   line-height: 52px;
   text-align: center;
   color: black;
   margin-top: var(--title);
   align-self: center;
   grid-area: title;
}

:root {
   --date: 80px;
   --titleidx: -20px;
   --subtitleidx: -100px;
   --abtus: -50px;
   --title: 200px;
}

h3.desc {
   font-family: Avenir book;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 21px;
   /* or 133% */
   text-align: center;
   color: black;
}

p.isi {
   font-family: Avenir book;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 21px;
   text-align: center;
   color: black;
}

/* index */

.grid1 {
   display: grid;
   grid-template-columns: 10px 1fr;
   grid-template-rows: 30% 1fr 1fr 1fr 1fr;
   grid-template-areas: ". ."". date" ". titleidx" ". subtitleidx" ". abtus";
   grid-gap: 10px;
   justify-content: center;
}

.grid11 {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1px 150px 120px 1fr 150px 120px 1fr 1px;
   grid-template-areas: ". . ."". name1. " ". img1 ."". arr1 ." ". name2 ."". img2 ."".  arr2 ." ". . .";
   grid-gap: 10px;
   justify-content: center;
   align-content: center;
   margin-top: 30px;
}

.grid12 {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-template-areas: ". . con con con . ."". img4 . img5 . img3  .";
   grid-gap: 10px;
   justify-content: center;
   align-content: center;
   margin-bottom: 10px;
   background-color: white;
}

p.namee {
   font-family: Avenir;
   font-style: normal;
   font-weight: bold;
   font-size: 18.02px;
   line-height: 24.62px;
   color: black;
   align-self: center;
   grid-area: namee;
   margin-left: 20px;
   width: 200px;
   text-align: center;
}

p.pos1 {
   font-family: Avenir;
   font-style: italic;
   font-weight: normal;
   font-size: 18.02px;
   line-height: 24.62px;
   color: black;
   grid-area: pos1;
   margin-left: 20px;
   margin-top: 10px;
   width: 300px;
   text-align: center;
}

.name1 {
   align-self: center;
   grid-area: name1;
}

.name2 {
   align-self: center;
   grid-area: name2;
}

.arr1 {
   margin-bottom: 150px;
   font-family: Mullingar;
   font-style: normal;
   background-color: #CFC1E6;
   border-radius: 50px;
   cursor: pointer;
   width: 129px;
   font-weight: normal;
   font-size: 18.02px;
   line-height: 40px;
   color: #ffffff;
   justify-self: center;
   justify-content: center;
   text-align: center;
   align-items: center;
   align-self: center;
   align-content: center;
   grid-area: arr1;
   margin-left: 0px;
}

.arr1 a {
   color: white;
   text-decoration: none;
}

.arr2 {
   margin-bottom: 150px;
   font-family: Avenir black;
   font-style: normal;
   background-color: #CFC1E6;
   border-radius: 50px;
   cursor: pointer;
   width: 129px;
   font-weight: normal;
   font-size: 18.02px;
   line-height: 40px;
   color: #ffffff;
   justify-self: center;
   justify-content: center;
   text-align: center;
   align-items: center;
   align-self: center;
   align-content: center;
   grid-area: arr2;
   margin-left: 0px;
}

.arr2 a {
   color: white;
   text-decoration: none;
}

.logo1 {
   width: 66px;
   height: 114px;
   object-fit: cover;
   align-content: center;
   justify-content: center;
   grid-area: logo1;
}

.logo2 {
   width: 143px;
   height: 87px;
   object-fit: cover;
   align-self: center;
   justify-content: center;
   grid-area: logo2;
}

.logo3 {
   width: 95px;
   height: 95px;
   object-fit: cover;
   align-self: center;
   justify-content: center;
   grid-area: logo3;
}

.img1 {
   width: 292px;
   height: 195px;
   object-fit: cover;
   align-self: center;
   justify-self: center;
   grid-area: img1;
   border-radius: 15px;
   /* margin-left: -10px; */
}

.img2 {
   width: 292px;
   height: 195px;
   object-fit: cover;
   align-self: center;
   justify-self: center;
   grid-area: img2;
   border-radius: 15px;
   /* margin-left: -10px; */
}

.img3 {
   align-self: center;
   grid-area: img3;
}

.img4 {
   align-self: center;
   grid-area: img4;
}

.img5 {
   align-self: center;
   grid-area: img5;
}

.hrr {
   border: 1px solid #6A4F21;
   align-self: center;
   grid-area: hrr;
}

.person2 {
   align-self: center;
   grid-area: person2;
}

.con {
   margin-left: -50px;
   font-family: Avenir black;
   font-style: normal;
   font-weight: normal;
   font-size: 15px;
   line-height: 20.49px;
   color: black;
   align-self: center;
   justify-self: center;
   grid-area: con;
   text-align: center;
}

.date {
   font-family: Mullingar;
   margin-top: var(--date);
   font-style: normal;
   font-weight: bold;
   font-size: 20.273px;
   /*asd*/
   line-height: 40px;
   color: black;
   align-self: center;
   grid-area: date;
}

.titleidx {
   width: 300px;
   font-family: Sybarite;
   margin-top: var(--titleidx);
   font-style: normal;
   font-weight: bold;
   font-size: 46.236px;
   /*asd*/
   line-height: 60px;
   color: black;
   align-self: center;
   grid-area: titleidx
}

.subtitleidx {
   padding-top: 25px;
   margin-top: var(--subtitleidx);
   font-family: Mullingar;
   font-style: normal;
   font-weight: bold;
   font-size: 20.273px;
   /*asd*/
   line-height: 33px;
   color: black;
   align-self: center;
   grid-area: subtitleidx;
}

.abtus {
   margin-bottom: 150px;
   font-family: Avenir black;
   font-style: normal;
   border: 3px solid #5EAEBF;
   background-color: #E3F4FD;
   ;
   border-radius: 50px;
   cursor: pointer;
   width: 129px;
   font-weight: normal;
   font-size: 18.02px;
   line-height: 40px;
   color: black;
   justify-self: center;
   justify-content: center;
   text-align: center;
   align-items: center;
   align-self: center;
   align-content: center;
   grid-area: abtus;
   margin-left: 0px;
}

.abtus a {
   text-decoration: none;
   color: #3D5C63;
}

p.isifoot1 {
   font-size: 18px;
   line-height: 25px;
}

.donate {
   display: grid;
   justify-content: center;
   grid-template-columns: 1fr;
   grid-gap: 10px;
   background: linear-gradient(180deg, #CFC1E6 0%, #E1B8B2 100%);
   padding: 10px;
   font-size: 25px;
   grid-area: donate;
   /* height: 600px; */
}

.donate .grid-container {
   display: grid;
   justify-content: center;
   align-content: center;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 50px 180px;
   grid-template-areas: ". djudul ." ". dket .";
   grid-gap: 10px;
   background-color: #6A4F21;
   padding: 10px;
   /* height: 500px; */
}

.donate .grid-container1 {
   display: grid;
   justify-content: center;
   align-content: center;
   grid-template-columns: 10px 1fr 1fr 1fr 10px;
   grid-template-rows: 150px 50px 100px 50px 1fr;
   grid-template-areas: "djudul2 djudul2 djudul2 djudul2 djudul2" ". donatee1 donatee2 donatee3 ." ". donatee4 donatee5 donatee6 ." ". don don don ." ". dket1 dket1 dket1 .";
   grid-gap: 25px;
   background: linear-gradient(180deg, #CFC1E6 0%, #E1B8B2 100%);
   padding: 10px;
   /* height: 500px; */
}

.don {
   font-family: Mullingar;
   font-style: normal;
   background-color: black;
   border-radius: 0;
   cursor: pointer;
   padding: 1px 1px;
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   line-height: 19px;
   color: white;
   background-color: rgba(255, 255, 255, 0.8);
   grid-area: don;
   width: 161px;
   height: 36px;
   justify-self: center;
   align-self: center;
   justify-content: center;
   align-content: center;
   box-shadow: 1px 1px grey;
}

p.djudul1 {
   font-family: Avenir black;
   font-style: normal;
   font-weight: bold;
   font-size: 36.532px;
line-height: 42px;
   text-align: center;
   color: #FFFFFF;
   justify-self: center;
   grid-area: djudul;
   margin-top: 30px;
   width: 200px;
}
p.djudul22 {
   font-family: Avenir black;
   font-style: normal;
   font-weight: bold;
   font-size: 20.273px;
line-height: 23px;
   /* or 94% */
   text-align: center;
   color: #FFFFFF;
   justify-self: center;
   grid-area: djudul22;
   width: 200px;
   color: #000000;
}

p.djudul2 {
   font-family: Avenir black;
   font-style: normal;
   font-weight: bold;
   font-size: 21.328px;
   line-height: 20px;
   text-align: center;
   color: #FFFFFF;
   justify-self: center;
   grid-area: djudul2;
   margin-top: 100px;
   width: 200px;
}

.dgambar {
   justify-self: center;
   grid-area: dgambar;
}

.dgambar1 {
   width: 313px;
   height: 181px;
}

.dket {
   font-family: Mullingar;
   font-style: italic;
   font-weight: bold;
   font-size: 16px;
   line-height: 21px;
   /* or 133% */
   text-align: center;
   color: #FFFFFF;
   justify-self: center;
   grid-area: dket;
}

.dket1 {
   font-family: Mullingar;
   font-style: italic;
   font-weight: 500;
   font-size: 16px;
   line-height: 20px;
   /* or 125% */
   text-align: center;
   color: #FFFFFF;
   justify-self: center;
   grid-area: dket1;
}

.donate .grid-container1 div {
   background-color: rgba(255, 255, 255, 0.8);
   width: 70px;
   height: 22px;
   padding: 10px 0;
   font-family: Mullingar;
   font-weight: bold;
   font-size: 15.995px;
   line-height: 20px;
   text-align: center;
   color: white;
}

.div1 {
   justify-self: center;
   grid-area: donatee1;
}

.div2 {
   justify-self: center;
   grid-area: donatee2;
}

.div3 {
   justify-self: center;
   grid-area: donatee3;
}

.div4 {
   justify-self: center;
   grid-area: donatee4;
}

.div5 {
   justify-self: center;
   grid-area: donatee5;
}

.div6 {
   justify-self: center;
   grid-area: donatee6;
}

.bckidx {
   background-image: url("../PHOTOS/background.png");
   background-size: cover;
   width: auto;
   height: 562px;
}

.bckmain {
   padding-top: 10%;
   margin-top: 40%;
   background: linear-gradient(180deg, #9BE4F3 0%, #E3F4FD 70.83%), #C4C4C4;
}

.grid3 {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 12em 15em 1fr;
   grid-template-areas: "judul2 judul2 judul2"". foto3 ." ". isi3 .";
   grid-gap: 15px;
   justify-content: center;
   text-align: center;
}

.foto3 {
   justify-self: center;
   grid-area: foto3;
   width: 297px;
   height: auto;
   border-radius: 10px;
}

.isi3 {
   justify-self: center;
   grid-area: isi2;
   font-family: Avenir;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 30px;
   /* or 133% */
   text-align: left;
   color: black;
   grid-area: isi3;
}

@media screen and (max-width: 1081px) {
   .nav__links, .cta, .foot1 {
      display: none;
   }
   .menu {
      display: initial;
   }
}

@media only screen and (min-width: 1081px) {
   header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 10%;
      background-color: #4A757F;
      ;
      width: 80%;
      height: 50px;
   }
   .img1 {
      width: 482px;
      height: 322px;
      object-fit: cover;
      align-self: center;
      justify-self: center;
      grid-area: img1;
      border-radius: 50px;
      /* margin-left: -10px; */
   }
   .img2 {
      width: 471px;
      height: 320px;
      object-fit: cover;
      align-self: center;
      justify-self: center;
      grid-area: img2;
      border-radius: 50px;
      /* margin-left: -10px; */
   }
   p.isifoot {
      font-weight: 500px;
      font-size: 20px;
      line-height: 27px;
   }
   p.isifoot1 {
      line-height: 15px;
   }
   p.textfoot {
      font-size: 10.442px;
      margin-top: 120%;
      margin-bottom: 0;
   }
   .logo1 {
      width: 150px;
      height: auto;
      object-fit: cover;
   }
   .logo2 {
      width: auto;
      height: 150px;
      object-fit: cover;
   }
   .logo3 {
      width: 150px;
      height: auto;
      object-fit: cover;
   }
   p.judulfoot {
      margin-top: 10%;
      width: 300px;
      font-size: 33px;
      line-height: 18px;
      margin-bottom: 5%;
      grid-area: judulfoot;
   }
   .arr1 {
      margin-bottom: 150px;
      font-family: Mullingar;
      font-style: normal;
      background-color: #CFC1E6;
      border-radius: 50px;
      cursor: pointer;
      width: 129px;
      font-weight: normal;
      font-size: 18.02px;
      line-height: 40px;
      color: #ffffff;
      justify-self: center;
      justify-content: center;
      text-align: center;
      align-items: center;
      align-self: center;
      align-content: center;
      grid-area: arr1;
      margin-left: 0px;
   }
   .arr1 a {
      color: white;
      text-decoration: none;
   }
   .arr2 {
      margin-bottom: 150px;
      font-family: Avenir black;
      font-style: normal;
      background-color: #CFC1E6;
      border-radius: 50px;
      cursor: pointer;
      width: 129px;
      font-weight: normal;
      font-size: 18.02px;
      line-height: 40px;
      color: #ffffff;
      justify-self: center;
      justify-content: center;
      text-align: center;
      align-items: center;
      align-self: center;
      align-content: center;
      grid-area: arr2;
      margin-left: 0px;
   }
   .arr2 a {
      color: white;
      text-decoration: none;
   }
   .con {
      margin-left: 0;
      font-size: 30px;
      line-height: 26px;
      align-self: center;
      justify-self: center;
      grid-area: con;
   }
   .foot1 {
      justify-self: center;
      grid-area: foot1;
   }
   .cta {
      background-color: #6A4F21;
   }
   .overlay a {
      font-size: 20px;
   }
   .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
   }
   .grid6 {
      display: grid;
      grid-template-columns: 100px 1fr 1fr 100px;
      grid-template-rows: 1fr 20em 10em 20em 20em 20em 20em 15em 20em 15em 20em 15em 35em 15em;
      grid-template-areas: ". title title ." ". photo1 photo2 ." ". photo3 photo3 ."". photo4  photo5."". photo6  photo7 ."". photo8  photo9 ."". photo10 photo11. "". photo12 photo13 ."". photo14 photo15 ."". photo16  photo17 ." ". photo18  photo19 ." ". photo20  photo21 ." ". photo22  photo23 ."". photo24  photo24 .";
      grid-gap: 30px;
      text-align: center;
      justify-content: center;
      justify-self: center;
      justify-items: center;
      align-items: center;
      align-self: center;
      align-content: center;
   }
   .grid6 p.judul {
      font-family: Avenir;
      font-style: normal;
      font-weight: 900;
      font-size: 25px;
      line-height: 34px;
      text-align: center;
      text-transform: uppercase;
      color: #000000;
   }
   .grid6 p.isi {
      font-family: Avenir;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      text-align: justify;
      text-indent: 10px;
      color: #000000;
   }
   .grid6 img {
      width: 393px;
      height: 213.9px;
   }
   /* .dphoto6 {
      width: 393px;
      height: auto;
   } */
   .grid7 {
      display: grid;
      grid-template-columns: 100px 1fr 1fr 100px;
      grid-template-rows: 300px 100px 1fr 1fr 1fr 250px;
      grid-template-areas: ". title title ."". subtitle subtitle ." ". photo1 photo2 ." ". photo3 photo4 ." ". photo5 photo6 ." ". endtitle endtitle .";
      grid-gap: 10px;
      justify-content: center;
      text-align: center;
   }
   .grid5 {
      display: grid;
      grid-template-columns: 100px 1fr 1fr 100px;
      grid-template-rows: 250px 150px 1fr 1fr 1fr 200px 100px;
      grid-template-areas: ". title title.""subtitle1 subtitle1 subtitle2 subtitle2" ". subtitle3 subtitle3 ." ". photo1  cill ." ". cill2  photo2 ." ". photo3 cill3 ."". donate donate .";
      grid-gap: 10px;
      justify-content: center;
      text-align: center;
   }
   .donate {
      display: grid;
      justify-content: center;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
      background: linear-gradient(180deg, #CFC1E6 0%, #E1B8B2 100%);
      padding: 10px;
      font-size: 25px;
      grid-area: donate;
      height: 600px;
   }
   .donate .grid-container {
      display: grid;
      justify-content: center;
      align-content: center;
      grid-template-columns: 10px 100px 10px;
      grid-template-rows: 1fr;
      grid-template-areas: ". dket .";
      background: linear-gradient(180deg, #CFC1E6 0%, #E1B8B2 100%);
      padding: 10px;
      height: 500px;
   }
   .donate .grid-container1 {
      display: grid;
      justify-content: center;
      align-content: center;
      grid-template-columns: 10px 1fr 1fr 1fr 10px;
      grid-template-rows: 150px 50px 100px 50px 1fr;
      grid-template-areas: "djudul2 djudul2 djudul2 djudul2 djudul2" ". donatee1 donatee2 donatee3 ." ". donatee4 donatee5 donatee6 ." ". don don don ." ". dket1 dket1 dket1 .";
      grid-gap: 25px;
      background: linear-gradient(180deg, #CFC1E6 0%, #E1B8B2 100%);
      padding: 10px;
      height: 500px;
   }
   .don {
      font-family: Mullingar;
      font-style: normal;
      border: 3px solid #6A4F21;
      border-radius: 0;
      text-align: center;
      cursor: pointer;
      padding: 1px 1px;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      color: #6A4F21;
      background-color: rgba(255, 255, 255, 0.8);
      grid-area: don;
      width: 161px;
      height: 36px;
      justify-self: center;
      align-self: center;
      justify-content: center;
      align-content: center;
   }
   p.djudul1 {
      font-family: Mullingar;
      font-style: normal;
      font-weight: bold;
      font-size: 36.532px;
      line-height: 42px;
      /* or 94% */
      text-align: center;
      color: #FFFFFF;
      justify-self: center;
      justify-content: center;
      justify-items: center;
      align-items: center;
      align-self: center;
      align-content: center;
      grid-area: djudul;
      width: 500px;
   }
   p.djudul22 {
      font-family: Mullingar;
      font-style: normal;
      font-weight: bold;
      font-size: 20.273px;
line-height: 23px;
      /* or 94% */
      text-align: center;
      color: #FFFFFF;
      justify-self: center;
      grid-area: djudul22;
      width: 200px;
      color: #000000;
   }
   p.djudul2 {
      font-family: Mullingar;
      font-style: normal;
      font-weight: bold;
      font-size: 21.328px;
      line-height: 20px;
      text-align: center;
      color: #FFFFFF;
      justify-self: center;
      grid-area: djudul2;
      margin-top: 100px;
      width: 200px;
   }
   .dgambar {
      justify-self: center;
      grid-area: dgambar;
   }
   .dket {
      font-family: Mullingar;
      font-style: italic;
      font-weight: bold;
      font-size: 16px;
      line-height: 21px;
      /* or 133% */
      text-align: center;
      color: #FFFFFF;
      justify-self: center;
      grid-area: dket;
   }
   .dket1 {
      font-family: Mullingar;
      font-style: italic;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      /* or 125% */
      text-align: center;
      color: #FFFFFF;
      justify-self: center;
      grid-area: dket1;
   }
   .donate .grid-container1 div {
      width: 100px;
      height: 22px;
      padding: 20px 0;
      font-size: 10px;
      font-family: Mullingar;
      font-weight: bold;
      font-size: 19.995px;
      line-height: 20px;
      text-align: center;
      color: white;
      background-color: black;
   }
   .div1 {
      justify-self: center;
      grid-area: donatee1;
   }
   .div2 {
      justify-self: center;
      grid-area: donatee2;
   }
   .div3 {
      justify-self: center;
      grid-area: donatee3;
   }
   .div4 {
      justify-self: center;
      grid-area: donatee4;
   }
   .div5 {
      justify-self: center;
      grid-area: donatee5;
   }
   .div6 {
      justify-self: center;
      grid-area: donatee6;
   }
   .isi51 {
      font-family: Avenir book;
      font-style: italic;
      font-weight: bold;
      font-size: 16px;
      line-height: 21px;
      /* or 133% */
      text-align: center;
      color: black;
   }
   .isi52 {
      font-family: avenir book;
      font-style: italic;
      font-weight: bold;
      font-size: 16px;
      line-height: 21px;
      /* or 133% */
      text-align: center;
      color: black;
      justify-self: center;
      grid-area: isi52;
   }
   .isi53 {
      font-family: avenir book;
      font-style: italic;
      font-weight: bold;
      font-size: 16px;
      line-height: 21px;
      /* or 133% */
      text-align: center;
      color: black;
      justify-self: center;
      grid-area: isi53;
   }
   .celebrate {
      font-family: avenir black;
      font-style: normal;
      border: 1px solid #5EAEBF;
      border-radius: 25;
      text-align: center;
      cursor: pointer;
      font-weight: normal;
      font-size: 16px;
      line-height: 50px;
      width: 162px;
      height: 41px;
      color: #000000;
      background-color: #5EAEBF;
      align-items: center;
      justify-items: center;
   }
   .wild {
      font-family: Avenir black;
      font-style: normal;
      background-color: #5EAEBF;
      border-radius: 25;
      text-align: center;
      cursor: pointer;
      font-weight: normal;
      font-size: 16px;
      line-height: 50px;
      color: black;
      grid-area: wild;
      width: 215px;
      height: 41px;
   }
   /* ad */
   .grid1 {
      display: grid;
      grid-template-columns: 100px 1fr;
      grid-template-rows: 200px 400px 1fr 1fr;
      grid-template-areas: ". date" ". titleidx" ". subtitleidx" ". abtus";
      grid-gap: 10px;
      justify-content: center;
      margin-bottom: 50%;
   }
   .grid11 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 10px 100px 1fr 130px 1fr;
      grid-template-areas: ". . . . ." ". name1 . name2 . "". img1 . img2 ." ". arr1 . arr2 ." ". . . . .";
      grid-gap: 10px;
      justify-content: center;
      align-content: center;
      height: 700px;
   }
   p.pos1 {
      font-family: Avenir book oblique;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 15px;
      color: black;
      grid-area: pos1;
      margin-left: auto;
      margin-top: 10px;
      width: 400px;
   }
   p.namee {
      font-size: 30px;
      line-height: 14px;
      margin-left: auto;
      margin-top: auto;
      width: 400px;
   }
   .grid12 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 50px 1fr;
      grid-template-areas: ". con con con con con ." ". img3 . img4 . img5 .";
      grid-gap: 10px;
      justify-content: center;
      align-content: center;
      align-self: center;
   }
   .date {
      font-family: Mullingar;
      margin-top: var(--date);
      font-style: normal;
      font-weight: bold;
      font-size: 64px;
      line-height: 40px;
      color: black;
      align-self: center;
      grid-area: date;
   }
   h1.titleidx {
      width: 800px;
      margin-top: var(--titleidx);
      font-family: Sybarite;
      font-style: normal;
      font-weight: bold;
      font-size: 120px;
      line-height: 120px;
      color: black;
      align-self: center;
      grid-area: titleidx
   }
   .subtitleidx {
      margin-top: var(--subtitleidx);
      font-family: Mullingar;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 33px;
      color: black;
      align-self: center;
      grid-area: subtitleidx;
   }
   .abtus {
      margin-bottom: 150px;
      font-family: Avenir black;
      font-style: normal;
      border: 3px solid #5EAEBF;
      background-color: #E3F4FD;
      border-radius: 50px;
      cursor: pointer;
      padding: 9px 9px;
      width: 181px;
      font-weight: 900;
      font-size: 24px;
      line-height: 40px;
      color: black;
      justify-self: center;
      grid-area: abtus;
      margin-left: 0px;
   }
   .bckidx {
      background-image: url("../PHOTOS/1background.png");
      background-size: cover;
      width: auto;
      height: 787px;
   }
   .bckmain {
      background: linear-gradient(180deg, #9BE4F3 0%, #E3F4FD 70.83%), #C4C4C4;
      margin-top: 12%;
   }
   /* ad */
   .judul {
      font-size: 21.328px;
      line-height: 32px;
      margin-top: 5%;
   }
   h1.title {
      font-size: 120px;
      line-height: 144px;
      text-align: center;
      margin-bottom: 10%;
   }
   p.isi {
      font-size: 16px;
      line-height: 21px;
   }
   .gridfoot {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: ". . footspec footspec footspec . . " ". foot2 . foot3 . foot6 ." ". . foot4 foot4 foot4 . ."". . foot5 foot5 foot5 . .";
      margin-top: 5%;
   }
   .foot5 {
      justify-self: center;
      width: auto;
      grid-area: foot5;
      margin-top: -20%;
   }
   .grid2 {
      display: grid;
      grid-template-columns: 100px 1fr 100px;
      grid-template-rows: 200px 500px 175px 150px 225px 120px 100px;
      grid-template-areas: "judul2 judul2 judul2"". foto2 ." ". isi2 ." ". isi22 ." ". isi23 ." ". isi24 ." ". . .";
      grid-gap: 10px;
      justify-content: center;
      text-align: center;
   }
   .grid3 {
      display: grid;
      grid-template-columns: 100px 1fr 100px;
      grid-template-rows: 350px 500px 65em;
      grid-template-areas: "judul2 judul2 judul2"". foto3 ." ". isi3 .";
      grid-gap: 15px;
      justify-content: left;
      text-align: left;
   }
   .judul2 {
      justify-self: center;
      grid-area: judul2;
      font-family: Sybarite;
      font-style: normal;
      font-weight: bold;
      font-size: 120px;
      line-height: 120px;
      color: black;
      margin-top: 23px;
      text-align: center;
   }
   .foto2 {
      justify-self: center;
      grid-area: foto2;
      width: 547px;
      height: 492px;
   }
   .foto3 {
      justify-self: center;
      grid-area: foto3;
      width: 547px;
      height: 364.67px;
      border-radius: 50px;
   }
   .isi3 {
      justify-self: center;
      grid-area: isi2;
      font-family: Avenir;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 30px;
      /* or 133% */
      text-align: left;
      color: black;
      grid-area: isi3;
   }
   .isi2 {
      justify-self: center;
      grid-area: isi2;
      font-family: Avenir;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 30px;
      /* or 133% */
      text-align: center;
      color: black;
   }
   .isi22 {
      justify-self: center;
      grid-area: isi22;
      font-family: Avenir;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 30px;
      /* or 133% */
      text-align: center;
      color: black;
   }
   .isi23 {
      justify-self: center;
      grid-area: isi23;
      font-family: Avenir;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 30px;
      /* or 133% */
      text-align: center;
      color: black;
   }
   .isi24 {
      justify-self: center;
      grid-area: isi24;
      font-family: Avenir;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 30px;
      /* or 133% */
      text-align: center;
      color: black;
   }
   .dphoto5 {
      width: 551px;
      height: auto;
   }
   p.textfoot {
      line-height: 18px;
   }
}
