* {
	margin: 0;
	padding: 0;
}

main section
{
	width: 100vw; /*viewport width */
	align-items: center;
	justify-content: center;
	height: 0px;
	margin: 49px;
	margin-top: 5px;
}

main section .jiminie
{
	position: relative;
	width: 91.5vw; /*viewport width */
	height:95px;
	float: left;
	margin: 5px;
	background-color: #FFCAE9;
}

main section .seulgi
{

	width: 30vw; /*viewport width */
	height: 100px;
	margin: 5px;
	float: left;
	background-color: #A3E4D7;
}

main section .wonho
{
	
	width: 30vw; /*viewport width */
	height: 45px;
	margin: 5px;
	margin-top: 58px;
	float: left;
	background-color: #A3E4D7;
}

main section .jjuni
{
	width: 17.7vw; /*viewport width */
	height: 150px;
	margin: 5px;
	float: left;
	background-color: #AED6F1;
}

main section .junkyu
{
	width: 17.7vw; /*viewport width */
	height: 150px;
	margin: 5px;
	float: left;
	background-color: #AED6F1;
}

main section .cio
{
	width: 17.7vw; /*viewport width */
	height: 110px;
	margin: 5px;
	float: left;
	background-color: #D7BDE2;
}

main section .hyunsuk
{
	width: 17.7vw; /*viewport width */
	height: 70px;
	margin: 5px;
	float: left;
	background-color: #F9E79F;
}
