* {
	margin-left: 30px;
	margin-top: 0;
	padding: 0;
}

section {
	width: 200vw;
	height: 150px;
	margin:5px;
}

.SDI {
	width: 39.5vw;
	height: 50px;
	margin-left: 10px;
	font-size: 18pt;
	font-family: sans-serif;
	font-weight: bold;
	text-align: left;
	color: white;

}

/* table stand departure */
table.jjunie {
	min-width: 500px;
	margin-left: 45px;
	margin-bottom: 10px;
	border-collapse: collapse;
	border: 1px solid black;
}

thead.jjunie {
	background-color: grey;
}

thead.jjunie tr th  {
	color: white;
	text-align: left;
	font-size: 10pt;
	font-family: arial;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-right: 1px solid white
}


tbody.jjunie tr td {
	font-family: futura;
	font-size: 10pt;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-right: 1px solid grey;

}

/* table transperth information */
table.jimin {
	width: 10%;
	min-width: 395px;
	margin-left: 10px;
	padding-left: 25px;
	text-align: left;
}

thead.jimin {
	background-color: white;

}

thead.jimin tr th {
	color: #52BE80;
	text-align: left;
	font-size: 28pt;
	font-family: arial;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: 5px solid #52BE80;
}



tbody.jimin tr td {
	color: #52BE80;
	font-family: sans-serif;
	font-size: 10pt;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
	padding-right: 10px;

}

tbody.wonho {
	margin-left: 400px;
}
tbody.wonho tr td {
	color: #52BE80;
	font-family: sans-serif;
	font-size: 10pt;
	font-weight: bold;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 10px;
}

tbody.wonhoo tr td {
	color: gray;
	font-family: sans-serif;
	font-size: 10pt;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 10px;
}

tbody.wonhooo tr td {
	color: #52BE80;
	font-family: sans-serif;
	font-size: 10pt;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 10px;
}

tbody.wonhoooo tr td {
	color: gray;
	font-family: sans-serif;
	font-size: 10pt;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 10px;
}

tbody.seulgivisit tr td {
	color: #52BE80;
	font-family: sans-serif;
	font-size: 10pt;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
	padding-right: 10px;
}

tbody.seulgidots {
	color: gray;
	font-family: sans-serif;
	font-size: 10pt;
	padding-top: 0px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 10px;
}

tbody.seulgiip {
	color: #52BE80;
	font-family: sans-serif;
	font-size: 10pt;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 10px;
}

tbody.seulgidl {
	color: gray;
	font-family: sans-serif;
	font-size: 10pt;
	padding-top: 0px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 10px;
}

tbody.seulgivisitol {
	color: #52BE80;
	font-family: sans-serif;
	font-size: 10pt;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 10px;
}

tbody.seulgiweb {
	color: gray;
	font-family: sans-serif;
	font-size: 10pt;
	padding-top: 0px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 10px;
}


/* table bus timetable */
table.junkyu {
	border-collapse: collapse;
	float: right;
	position: absolute;
	left: 800px;
	top: 15px;
	font-family: sans-serif;
	font-size: 20pt;
}

thead.junkyu42 {
	border-collapse: collapse;
	float: right;
	position: absolute;
	left: 25px;
	top: 20px;
	font-family: sans-serif;
	font-size: 90pt;
}

tbody.junkyu43 {
	border-collapse: collapse;
	float: right;
	position: absolute;
	top: 150px;
	font-family: futura;
	font-size: 9pt;
}

tbody.junkyu43 tr td{
	background-color: #F9EAFF;
	border-radius: 15px;
	height: 80px;
	width: 500px;
	padding-left: 9.5px;
}


/* table routes */
table.nunu {
	border-collapse: collapse;
	float: right;
	position: absolute;
	left: 585px;
	top: 250px;
	font-family: sans-serif;
	font-size: 15pt;
	min-width: 355px;
	width: 30%;
}
thead.nunu tr th{
	border-collapse: collapse;
	float: right;
	left: 0px;
	top: 0px;
	font-family: sans-serif;
	font-size: 15pt;
	min-width: 370px;
	text-align: left;
	border-bottom: 1px solid #5AAAFF;
}

table.hoho{

	float: right;
	position: absolute;
	left: 595px;
	top: 280px;
	min-width: 35px;
	width: 28%;
	font-family: sans-serif;
	font-size: 30pt;

}


tbody.hoho81 tr td:nth-child(2n){
	padding-right: 78px;
	padding-top: 0px;
	font-family: sans-serif;
	font-size: 10pt;
	text-align: right;
	
}

img {
	float: right;
	padding-right: 0px;
}
